<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Operations</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

<div class="toolbar">
    <div class="tablinks">
        <a href="javascript:void(0)" class="tablink" onclick="openTab(event, 'Employees')">Employees</a>
        <a href="javascript:void(0)" class="tablink" onclick="openTab(event, 'Positions')">Positions</a>
        <a href="javascript:void(0)" class="tablink" onclick="openTab(event, 'Departments')">Departments</a>
        <a href="javascript:void(0)" class="tablink" onclick="openTab(event, 'States')">States</a>
    </div>
    <a href="{{ url_for('main.logout') }}" class="signout">Signout</a>
</div>

<div id="Employees" class="tabcontent">
    <div class="header">
        <h2>Employees</h2>
        <div>
            <a id="filterButton" class="btn btn-success">Filter</a>
            <a class="btn btn-primary" href="{{ url_for('main.create_employee') }}">Create New Employee</a>
        </div>
    </div>
    <div id="searchForm" style="display:none; margin-top: 20px; margin-bottom: 20px;">
        <form action="{{ url_for('main.index') }}" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="position">Position</label>
                    {{ form.position(class="form-control") }}
                </div>
                <div class="form-group col-md-4">
                    <label for="department">Department</label>
                    {{ form.department(class="form-control") }}
                </div>
                <div class="form-group col-md-4">
                    <label for="state">State</label>
                    {{ form.state(class="form-control") }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
            <button type="reset" class="btn btn-danger">Reset</button>
        </form>
    </div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Position</th>
                <th>Department</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
          {% for employee in employees %}
          <tr>
            <td>{{ employee.name }}</td>
              <td>{{ employee.address }}</td>
            <td>{{ employee.position.name }}</td>
            <td>{{ employee.department.name }}</td>
            <td>{{ employee.state.name }}</td>
          <td>
              <div style="display: flex">
                  <a class="btn btn-warning" href="{{ url_for('main.update_employee', id=employee.id) }}">Edit Employee</a>
                  <form action="{{ url_for('main.delete_employee', id=employee.id) }}" method="POST">
                      <button type="submit" class="btn btn-danger" >Delete Employee</button>
                  </form>
              </div>
          </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
</div>

<div id="Positions" class="tabcontent">
    <div class="header">
        <h2>Positions</h2>
        <a class="btn btn-primary" href="{{ url_for('main.create_position') }}">Create New Position</a>
    </div>
    <table>
        <thead>
      <tr>
        <th>Position</th>
          <th>Details</th>
          <th>Modify</th>
      </tr>
    </thead>
    <tbody>
      {% for position in positions %}
      <tr>
        <td>{{ position.name }}</td>
          <td>{{ position.details }}</td>
      <td>
          <div style="display: flex">
              <a class="btn btn-warning" href="{{ url_for('main.update_position', id=position.id) }}">Edit Position</a>
              <form action="{{ url_for('main.delete_position', id=position.id) }}" method="POST">
                  <button type="submit" class="btn btn-danger" >Delete Position</button>
              </form>
          </div>
      </td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
</div>

<div id="Departments" class="tabcontent">
    <div class="header">
        <h2>Departments</h2>
        <a class="btn btn-primary" href="{{ url_for('main.create_department') }}">Create New Department</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Manager</th>
                <th>Modify</th>
            </tr>
        </thead>
        <tbody>
          {% for department in departments %}
          <tr>
            <td>{{ department.name }}</td>
              <td>{{ department.manager.name }}</td>
          <td>
              <div style="display: flex">
                  <a class="btn btn-warning" href="{{ url_for('main.update_department', id=department.id) }}">Edit Department</a>
                  <form action="{{ url_for('main.delete_department', id=department.id) }}" method="POST">
                      <button type="submit" class="btn btn-danger" >Delete Department</button>
                  </form>
              </div>
          </td>
          </tr>
          {% endfor %}
    </tbody>
    </table>
</div>

<div id="States" class="tabcontent">
    <div class="header">
        <h2>States</h2>
        <a class="btn btn-primary" href="{{ url_for('main.create_state') }}">Create New State</a>
    </div>
    <table>
    <thead>
    <tr>
        <th>State</th>
        <th>Modify</th>
    </tr>
    </thead>
    <tbody>
      {% for state in states %}
      <tr>
        <td>{{ state.name }}</td>
      <td>
          <div style="display: flex">
              <a class="btn btn-warning" href="{{ url_for('main.update_state', id=state.id) }}">Edit State</a>
              <form action="{{ url_for('main.delete_state', id=state.id) }}" method="POST">
                  <button type="submit" class="btn btn-danger" >Delete State</button>
              </form>
          </div>
      </td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
</div>

<!-- Flash Message Modal -->
<div class="modal fade" id="flashModal" tabindex="-1" role="dialog" aria-labelledby="flashModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="flashModalLabel">Notification</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="../static/scripts.js"></script>
<script>
$(document).ready(function() {
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            $('#flashModal').modal('show');
        {% endif %}
    {% endwith %}
});
</script>


</body>
</html>